/CourseWorker$AcademicStatus.class
/DepartmentAdministrator.class
/Evaluation.class
/Instructor.class
/Job$Day.class
/Job$Type.class
/Job.class
/JobApplication$ApplicationStatus.class
/JobApplication.class
/Tamas.class
/User.class
/Course.class
/CourseWorker$Type.class
/CourseWorker.class
